<div class="task-container">
  <div *ngFor="let task of tasks" class="task-block">
    <div class="task-info">
      <img src="assets/circle-icon.png" class="complete-icon" alt="Complete Icon">
      <div class="task-title">{{ task.title }}</div>
      <div class="due-date">
        <img src="assets/calendar-icon.png" alt="Calendar Icon" class="calendar-icon">
        <div class="date">{{ task.dueDate | date:'mediumDate' }}</div>
      </div>
    </div>
    <div class="task-description" *ngIf="task.description && task.description.length > 0">{{ task.description }}</div>
  </div>
</div>
