# Angular
/Frontend/.editorconfig
/Frontend/aspnetcore-https.js
/Frontend/karma.conf.js
/Frontend/nuget.config
/Frontend/node_modules/

# .NET Web API
/API/appsettings.json
/API/appsettings.Development.json
/API/Properties/launchSettings.json

**/bin/
**/obj/
**/.vscode/
**/.vs
