# Angular
/ToDoList.Frontend/.editorconfig
/ToDoList.Frontend/aspnetcore-https.js
/ToDoList.Frontend/karma.conf.js
/ToDoList.Frontend/nuget.config
/ToDoList.Frontend/.vscode/
/ToDoList.Frontend/obj/
/ToDoList.Frontend/node_modules/

# .NET Web API
/ToDoList.API/bin/
/ToDoList.API/obj/
/ToDoList.API/node_modules/
/ToDoList.API/appsettings.json
/ToDoList.API/appsettings.Development.json
/ToDoList.API/Properties/launchSettings.json
/.vs/
/.vscode/
/.vs
