.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.main {
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#chk {
	display: none;
}

.signup {
	position: relative;
	width: 100%;
	height: 100%;
}

label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.signup-label {
	margin: 30px;
}

input {
	width: 60%;
	height: 21px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 17px auto;
	padding: 9px;
	border: 2px solid #e0dede;
	outline: none;
	border-radius: 5px;
}

input.ng-invalid {
	border: 2px solid rgb(155, 39, 54);
}

button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #202327;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 50px;
}

button:hover {
	background: #413f46;
}

button:active {
	transform: scale(.9)
}

.login {
	height: 460px;
	margin-top: 50px;
	background: linear-gradient(to bottom, #615392, #c58f8f, #f1e4e4);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label {
	padding-bottom: 11px;
	color: #ffffff;
	transform: scale(.7);
	
}

.login-label-and-error-h4 {
	padding-top: 40px;
}

h4 {
	justify-content: center;
	display: flex;
	color: #9c0000;
	margin-top: 0%;
	padding-top: 0%;
}

#chk:checked~.login {
	transform: translateY(-500px);
}

#chk:checked~.login label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}

.password-toggle {
	position: relative;
}

.password-toggle img {
	position: absolute;
	right: 70px;
	top: 20%;
	transform: translateY(-300%);
	cursor: pointer;
	width: 7%;
}