.top-panel {
    display: flex;
    justify-content: center;
    background-color: #f5d9d9;
    padding: 10px;
    border-bottom: 1px solid #e0d3d3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.category-buttons, .account-button-container {
    display: flex;
    justify-content: center;
}

.category-buttons{
    padding-right: 2%;
}

.tasks-image, .account-image {
    width: 48px;
    height: 48px;
}

.tasks-image {
    margin-right: 10px;
}

.category-button, .account-button {
    background-color: transparent;
    color: black;
    border: none;
    margin-right: 3px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 10px;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
    border-radius: 10px;
}

.category-button.active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.category-button:not(.active):hover, .account-button:hover {
    color: white;
    background-color: rgb(182, 148, 148);
}
