<div class="top-panel">
  <div class="category-buttons">
    <img src="assets/to-do-list.jpg" alt="Tasks Image" class="tasks-image">
    <button class="category-button" [class.active]="topPanelService.getActiveCategory() === 'All'" (click)="changeActiveCategory('All')">All</button>
    <button class="category-button" [class.active]="topPanelService.getActiveCategory() === 'Not Completed'" (click)="changeActiveCategory('Not Completed')">Not Completed</button>
    <button class="category-button" [class.active]="topPanelService.getActiveCategory() === 'Completed'" (click)="changeActiveCategory('Completed')">Completed</button>
  </div>

  <div class="account-button-container">
    <img src="assets/account-icon.png" alt="Account Image" class="account-image">
    <div class="account-button-dropdown">
      <button class="account-button" (click)="toggleDropdown()" [class.active]="showDropdown">{{ userFullName }}</button>
      <div class="dropdown-content" *ngIf="showDropdown">
        <button class="dropdown-item" (click)="logout()">Log Out</button>
      </div>
    </div>
  </div>
</div>